body, html {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100vw;
    height: 100vh;
}
h1 {
    color: white;
}
.card {
    display: flex;
    flex-direction: column  ;
    background: #06ea28;
    background: -moz-linear-gradient(-45deg, #06ea28 0%, #7850ef 25%, #A8383A 100%);
    background: -webkit-linear-gradient(-45deg, #06ea28 0%, #7850ef 25%, #A8383A 100%);
    background: linear-gradient(135deg, #06ea28 0%, #7850ef 25%, #A8383A 100%);
    width: 50vw;
    align-items: center;
}
.input {
    display: flex;
    flex-direction: row;
    /* height: 5vh; */
}
.listTasks {
    height: 50vh;
    width: 43vw;
    display: flex;
    flex-direction: column  ;
    background-color:white;
}
.task {
    margin: 1vw 2vw 0 2vw;
    border-bottom: 1px solid grey;
}
label {
    margin-left: 1vw;
    word-wrap: break-word;
}
div input:checked ~ label  {
    text-decoration: line-through
    }

#text {
    height: 3.5vh;
    width: 30vw;
    margin: 2vw 0 2vw 2vw;
}
.add {
    height: 4vh;
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    color: #fff;
    cursor: pointer;
    margin: 2vw 2vw 2vw 2vw;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .add:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
  .fa-xmark {
    cursor: pointer;
  }