<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login:</h1>
    <p>or <a href="/">register</a></p>

    <form action="" method="post">
      <label for="username">username</label>
      <input type="text" name="username" id="" required />
      <br />
      <label for="password">password</label>
      <input type="text" name="password" id="" required />
      <br />
      <br />
      <input type="submit" value="Login" />
    </form>
    <br />
    <%- locals.text || '' %>
  </body>
</html>