.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid;
    width: 250px;
    height: 280px;
    border-radius: 8px;
    background-color: rgb(132, 226, 132);
    padding: 10px
}
.avatar {
    width: 200px;
object-fit: cover;
margin-bottom: 15px;
align-self: center;
}
.search {
    margin-bottom: 20px;
    background-color:rgb(208, 240, 176);
    border-radius: 5px;
}